@font-face {
    font-family: 'Beauty and the Beast';
    src: url('BeautyandtheBeast.woff2') format('woff2'),
        url('BeautyandtheBeast.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-BookItalic.woff2') format('woff2'),
        url('Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Beauty and the Beast';
    src: url('BeautyandtheBeast.woff2') format('woff2'),
        url('BeautyandtheBeast.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

