/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
	font-size: 1rem;
	min-height: 100%;
}

body {
	font: 400 16px/1.6 'Gotham', sans-serif;
	margin: 0;
	min-height: 100%;
	background-color: $dark-black-light !important;
	color: #FFF;
	overflow-x: hidden;

	a {
		color: #FFF;
	}
	@media screen and (max-width:786px){
		.container{
			padding:0 40px;
		}
	}
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	font-weight: 100;

	small {
		letter-spacing: 0.3rem;
	}
}

h1,
h2 {
	font-family: 'Beauty and the Beast';

	small {
		font-family: 'Gotham';
		font-weight: 100;
		font-size: 1rem;
		letter-spacing: 0.3rem;
	}

	font-weight:400;
	font-size:3rem;
	letter-spacing: 0.8rem;
}

h1 {
	font-size: 3.2rem;

	small {
		font-size: 1.2rem;
		letter-spacing: 0.4rem;
	}
}

h3 {
	font-size: 2rem;
	line-height: 1;

	small {
		font-size: 0.75rem;
	}
}

hr.small-line {
	height: 1px;
	background-color: #FFF;
	width: 150px;
	margin: 0 auto 3rem;
	opacity: 0.2;
}

.z-index-2 {
	z-index: 2;
}

/* clear */
.clear:before,
.clear:after {
	content: ' ';
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	height: auto;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #444;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	outline: 0;
	border: 1px solid $c2;
}

ol,
ul {}

select {
	width: 100%;
}

button:focus {outline:0;}
/* NAV */


header {

	position: absolute;
	text-align: center;
	width: 100%;

	@media screen and (min-width: 992px) {
		z-index: 2;
		
	}
}

.logo {
	max-width: 140px;
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 6;

	.logo-img {
		width: 100%;
		height: auto;
		display: block;
	}
	@media screen and (min-width:992px) {
		max-width: 150px;
		height: 225px;
		align-items: center;
		margin: 0;
		position: relative;
		top:unset;
		left:unset;
	}
}


.nav {
	width: 100%;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	a {
		color: #FFF;
		text-transform: uppercase;
		letter-spacing: 3.4px;
		font-size: 12px;
	}

	ul {
		width: 25%;
		display: flex;
		justify-content: space-evenly;
	}

	li {
		display: flex !important;
		align-items: center;
		padding: 0 1rem;
		position: relative;
		font-weight: 300;
		height: 225px;

		@media screen and (min-width: 992px) {
			display: inline-block;
		}

		&:hover>ul {
			visibility: visible;
		}

		@media screen and (min-width:992px) {
			&.current-menu-item:before {
				position: absolute;
				top: 0;
				left: -25%;
				content: " ";
				width: 150%;
				height: 5px;
				background: $green;
			}
		}

	}

}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.menu-toggle {
	position: absolute;
	right:40px;
	top:40px;
	z-index:6;
	&.open {

	}
}
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	&:hover {
	  opacity: 0.7;
	}
	&.is-active {
	  &:hover {
		opacity: 0.7;
	  }
	  .hamburger-inner {
		background-color: #000;
		&::before, &::after {
		  background-color: #000;
		}
	  }
	}
  }
  
  .hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
  }
  
  .hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	width: 40px;
	height: 4px;
	background-color: #FFF;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
	&::before, &::after {
	  width: 40px;
	  height: 4px;
	  background-color: #FFF;
	  border-radius: 4px;
	  position: absolute;
	  transition-property: transform;
	  transition-duration: 0.15s;
	  transition-timing-function: ease;
	}
	&::before, &::after {
	  content: "";
	  display: block;
	}
	&::before {
	  top: -10px;
	}
	&::after {
	  bottom: -10px;
	}
  }
  .hamburger--collapse {
	.hamburger-inner {
	  top: auto;
	  bottom: 0;
	  transition-duration: 0.13s;
	  transition-delay: 0.13s;
	  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  &::after {
		top: -20px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
	  }
	  &::before {
		transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  }
	}
	&.is-active .hamburger-inner {
	  transform: translate3d(0, -10px, 0) rotate(-45deg);
	  transition-delay: 0.22s;
	  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  background-color: #FFF;
	  &::after {
		top: 0;
		background-color: #FFF;
		opacity: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
	  }
	  &::before {
		background-color: #FFF;
		top: 0;
		transform: rotate(-90deg);
		transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	  }
	}
  }
@media screen and (max-width: 320px) {
	.menu-toggle {
		padding: 0 1.2rem;
	}
}

.mobile-nav {
	position: fixed;
	z-index: 10;
	display: none;
	font-size:2rem;
	text-align: center;
	font-weight: 600;
	top: 0;
	background-color: rgba(0, 0, 0, 0.95);

	#primary-mobile-menu {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;

		li {
			list-style-type: none;
			padding:12px 0;
			a {
				color: #FFF;
				text-transform: uppercase;
		letter-spacing: 3.4px;
		font-size: 18px;
		
			}
			&.current-menu-item a{
				color:$green;
			}
		}

	}

	.sub-menu {
		display: block !important;

		li {
			list-style: none;
			font-size: 13px;
		}
	}
}

footer {
	background: #000;
	color: #AAA;
	text-transform: uppercase;
	padding: 5rem 0 3rem;
	letter-spacing: 0.3rem;
	font-size: 0.8rem;

	.container {
		max-width: 80%;
	}

	.footer-logo img {
		opacity: 0.6;
		max-height: 120px;
		@media screen and (max-width:768px){
			max-height: 100px;
			margin-bottom:4rem;
			margin-top:1rem;
		}
	}

	ul {
		li {
			list-style-type: none;
			margin-bottom: 1rem;
			a{
				letter-spacing:0.1rem;
			}
		}
	}

	a {
		color: #AAA;
		transition: all 250ms ease;
	}

	.logo-col,
	.social-col {
		text-align: center;
	}

	.social-col {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 1rem 0;
		
		.social {
			margin-bottom: 3rem;
			@media screen and (max-width:575px){
				margin:1rem 0 3rem;
			}
			a {
				font-size: 2.5rem;
				padding-bottom: 2rem;
			}
		}
	}

	.credit a {
		color: $green;
	}

	.copyright {
		border-top: 1px solid #555;
		padding-top: 1rem;
		margin-top: 5rem;
		padding: 2rem 3rem 0;
		color: #555;
		@media screen and (max-width:575px){
			padding:1rem 0;
			font-size:0.7rem;
			letter-spacing:0.1rem;
		}
	}
}

.btn,
.btn-white,
.btn-outline-white {
	text-transform: uppercase;
	padding: 1rem 3rem 1rem 3rem;
	border-radius: 25px;
	font-weight: 100;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	transition: transform 1s;
	position: relative;
	transition: all 250ms ease;
	z-index: 3;

	span {
		display: inline-block;
		position: relative;
		transition: all 250ms ease;
		will-change: transform;
	}

	&:hover span {
		transform: translate3d(-1.5rem, 0, 0);
	}

	&:after {
		content: url('./assets/img/arrow.svg');
		position: absolute;
		right: 4rem;
		opacity: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 250ms ease;
		will-change: right, opacity;
	}

	&:hover {
		&:after {
			opacity: 1;
			right: 1.5rem;
		}
	}
}

.btn-normal,
.btn-small {

	display: inline-flex;

	padding: 0;
	align-items: center;
	justify-content: center;

	&:hover span {
		font-size: 0.7rem;
	}

	&:hover {
		&:after {
			opacity: 1;
			right: 2.2rem;
		}
	}
}

.btn-normal {
	width: 260px;
	height: 50px;
	line-height: 2;
}

.btn-small {
	width: 200px;
	height: 40px;
	font-size: 0.8rem;

	&:hover span {
		font-size: 0.6rem;
	}
}

.btn {
	color: #FFF;
	background-color: $green;

	&:after {
		-webkit-filter: brightness(3);
		filter: brightness(3);
	}

	&:hover {
		background-color: #000;
		color: #FFF;

		&:after {
			-webkit-filter: brightness(3);
			filter: brightness(3);
		}
	}
}

.btn-white {
	color: #000;
	background-color: #FFF;

	&:hover {
		background-color: #000;
		color: #FFF;

		&:after {
			-webkit-filter: brightness(3);
			filter: brightness(3);
		}
	}
}

.btn-outline-white {
	border: 1px solid #FFF;
	display: inline-block;
}

.pill-white {
	border-radius: 14.52px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 11px 0 rgba(0, 32, 57, 0.06);
	color: #000;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	transition: all 150ms ease-out;

}

@keyframes floating {
	from {
		transform: translate(0, 0px);
	}

	60% {
		transform: translate(0, 20px);
	}

	to {
		transform: translate(0, -0px);
	}
}

.scroll-down-line {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	position: fixed;
	left: 4rem;
	bottom: 20%;
	text-align: right;
	opacity: 0.5;
	z-index: 2;

	a:hover {
		color: #EEE;
	}

	p {
		text-transform: uppercase;
		font-size: 0.6rem;
		color: #FFF;
		letter-spacing: 0.3rem;
		padding-top: 1rem;
		padding-right: 5rem;
	}

	&:after {
		position: absolute;
		content: "";
		height: 2px;
		background-color: #FFF;
		width: 5rem;
		left: 10rem;
		top: 1.4rem;
	}

	@media screen and (max-width:1440px) {
		left: -2rem;
	}


	@media screen and (max-width:992px) {
		-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	left:36vw !important;
	position:absolute;
	top:100vh;
	z-index:-3;
	&:after{
		content:none;
		
		
	}
	}
	
	
}

.social-line {

	position: fixed;
	right: 4rem;
	top: 10%;
	text-align: right;
	opacity: 0.5;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	align-items: center;
	z-index: 3;
	a{
		transition: all 250ms ease;
		color:#CCC;
	}
	a:hover {
		color: #FFF;
	}

	.socials {
		margin-bottom: 5rem;

		a {
			display: flex;
			flex-direction: column;
			font-size: 1.5rem;
		}
	}

	p {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		padding-left: 5rem;
		margin-top: 3rem;
		text-transform: uppercase;
		font-size: 0.6rem;
		color: #FFF;
		letter-spacing: 0.3rem;
		display: inline-block;

		&:before {
			position: absolute;
			content: "";
			height: 2px;
			background-color: #FFF;
			width: 4rem;
			right: 9rem;
			bottom: 0.4rem;
		}

	}

	@media screen and (max-width:1440px) {
		right: -2rem;
	}

	@media screen and (max-width:992px) {
		display: none;
	}

}

body.error404 {

	section.error-page{


		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		padding: 1rem;
		
		.text {
			padding-bottom: 10rem;
		}

		h1 {
			margin-bottom: 3rem;
			span{
				font-size:10rem;
				color:$green;
			}
			
			small {
				color: #BBB;
			}
		}

		@media screen and (min-width:576px) {
			padding: 150px 0 0 0;
			height: 100vh;
		}
		@media screen and (max-width:575px) {
			padding: 100px 0 0 0;
			height: 100vh;
			small{
				font-size:10px;
				letter-spacing:0.2rem;
			}
		}
	}
}

/* Page Styles */
body.home {

	#masthead {


		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		padding: 1rem;
		
		.text {
			padding-bottom: 10rem;
		}

		h1 {
			margin-bottom: 3rem;

			small {
				color: #BBB;
			}
		}
		
		@media screen and (min-width:576px) {
			padding: 150px 0 0 0;
			height: 100vh;
		}
		@media screen and (max-width:575px) {
			padding: 100px 0 0 0;
			height: 100%;
			small{
				font-size:10px;
				letter-spacing:0.2rem;
			}
		}
	}

	#story {
		@media screen and (min-width:992px){
			height: 120vh;
		}
		@media screen and (max-width:991px){
			padding:4rem 0 6rem;
		}
		position: relative;
		display: flex;
		align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;

		h2 {
			
			font-size: 1.3rem;
			@media screen and (max-width:575px){
				font-size: 2rem;
			}
			color: #FFF;
			letter-spacing: 0.6rem;

			small {
				font-size: 0.8rem;
				color: #999;
			}

			margin-bottom:2rem;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: #999;

			font-size: 0.8rem;

			hr {
				margin: 1rem 0 3rem;
			}

			p {
				line-height: 2.5;
				@media screen and (min-width:992px){
					padding-right: 5rem;
				}
				
			}
		}

		.image {
			img {
				border-radius: 8px;
				@media screen and (max-width:991px){
					margin:2rem 0 4rem;
				}
			}

		}
	}

	#products {
		background-color: $dark-black-light;
		text-align: center;
		color: #FFF;
		padding: 180px 0 15rem;
		@media screen and (max-width:991px){
			padding:80px 0 8rem;
		}
		a {
			color: #FFF;
		}

		.container {
			max-width: 1200px;
		}

		h3 {
			margin-bottom: 10rem;
			font-family: 'Beauty and the Beast';

			small {
				font-family: 'Gotham';
				color: #BBB;
			}
		}

		a.product-item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			&:nth-of-type(even){
				@media screen and (max-width:575px){
					.image{
						height:300px;
					}
					
				}
			}
			@media screen and (max-width:991px){
				margin-top:8rem;
				&:first-of-type{
					margin-top:0;
				}
			}
			.image {
				height: 400px;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				justify-items: center;
				
				&::before {
					top: -45px;
					border-radius: 50%;
					width: 320px;
					height: 320px;
					content: ' ';
					background-color: $green;
					position: absolute;
					z-index: 1;
					opacity: 0.25;
				}

				img {
					max-height: 370px;
					width: auto;
					z-index: 2;
				}
			}

			h2 {
				letter-spacing: initial;
				font-size: 3.5rem;
				line-height: 1.3;
				margin-bottom: 1rem;

				small {
					font-size: 0.9rem;
					color: #BBB;
				}
			}

			.btn-outline-white {
				margin-top: 1rem;
				padding: 0.5rem 3rem;
				color: #999;
				border-color: #999;
			}

			&:hover {
				.image img {
					animation-name: floating;
					animation-duration: 2.8s;
					animation-iteration-count: infinite;
					animation-timing-function: ease-in-out;
				}

				.btn-outline-white {
					background-color: #FFF;
					color: #000;
				}
			}
		}
	}

	#blog {
		padding: 5rem 0 5rem;

		>h3:first-of-type {
			text-align: center;
			padding-bottom: 3rem;
			font-family: 'Beauty and the Beast';
			margin: 5rem 0;

			small {
				font-family: 'Gotham';
				color: #BBB;
			}
		}
		@media screen and (min-width:1200px){
			.container {
				max-width: 1100px;
			}
		}
		

		.cta {

			padding: 5rem 0;
			@media screen and (max-width:575px){
				padding: 0;
			}
		}

		.text {
			text-transform: uppercase;
			padding: 2rem 4rem 2rem 0;
			letter-spacing: 0.2rem;
			font-size: 0.8rem;
			line-height: 3.5;
			color: #999;
			text-align: right;
		}

		.link {
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.filtr-item>a>div {
			width: 100%;
		}
		@media screen and (max-width:991px){
			.text{
				text-align:center;
				padding: 2rem;
			}
			.filtr-item:last-of-type{
				display:none;
			}
		}
		@media screen and (max-width:650px){
			.filtr-item{
				display:none;
			}
			.filtr-item:first-of-type{
				display:block;
			}
		}
	}

	#cta {
		background-color: rgba(0, 0, 0, 0.2);
		padding: 2rem 0;

		.container {
			padding: 2rem 0;
		}

		.text {
			text-transform: uppercase;
			padding: 2rem 4rem 2rem 0;
			letter-spacing: 0.2rem;
			font-size: 0.8rem;
			line-height: 3.5;
			color: #999;

		}

		.link {
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@media screen and (min-width:992px) {
			.text {
				text-align: right;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
			}
		}
		@media screen and (max-width:991px){
			.text{
				text-align:center;
				padding:3rem;
			}
			padding:1rem 0 4rem;
		}
	}

	#featured {
		padding: 200px 0;
		text-align: center;
		background-color: #191B19;

		.container {
			max-width: 980px;
			margin-top: 5rem;
		}

		h3 {
			font-family: 'Beauty and the Beast';
			margin-bottom: 5rem;

			small {
				font-family: 'Gotham';
				color: #BBB;
			}
		}

		.image {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: auto;
				height: auto;
				max-height: 150px;
			}
			@media screen and (max-width:991px){
				margin:1rem 0;
			}
		}

	}

	.palm {
		position: absolute;
		z-index: 1;
		opacity: 0.25;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}

	.palm-1 {
		left: 0;
		top: 50vh;
		height: 1200px;
	}

	.palm-2 {
		right: 0;
		top: 50vh;
		background-position: right;
		height: 1200px;
	}

	.palm-3 {
		left: 0;
		top: 200px;
		height: 1000px;
		@media screen and (max-width:991px){
			display:none;
		}
	}

	.palm-4 {
		right: 0;
		top: 200px;
		background-position: right;
		height: 1000px;
	}

	.palm-6 {
		left: 0;
		top: 150px;
		height: 1000px;
	}

	section {
		position: relative;
	}
}

#page-header {
	background-color: #000;
	color: #FFF;
	padding-top: 15rem;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 2rem;

	.text {
		padding: 2rem 0;
	}
}

#support {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5rem 0;
	background-color: rgba(#252C28, 1);

	h3 {
		margin: 1rem 0 2rem;

		a {
			color: #FFF;
			font-weight: bold;
			padding-top: 2rem;
			text-transform: uppercase;
		}

		@media screen and (max-width:992px) {
			font-size: 1rem;
		}
		@media screen and (max-width:575px) {
			letter-spacing:0.1rem;
		}
	}

}

/* Blog Page */
#blog-page-header {
	.background {
		z-index: -1;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		width: 100%;
		height: 100vh;
		position: absolute;

	}
	
	.cates {
		.pill-white:last-of-type {
			margin-right: 2rem;
		}

	}

	a:hover {
		color: #FFF;
	}

	.owl-item {
		height: 100%;
		z-index: 1;

		.slide {
			width: 100%;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;

			

			.container {
				@media screen and (min-width:992px){
					margin-bottom: 20vh;
				}
				
				@media screen and (max-width:991px){
					margin-bottom: 5vh;
				}
			}

			@media screen and (max-height: 700px) {
				margin-bottom: 15vh;
			}

			h3 {
				font-size: 2rem;
				text-transform: none;
				letter-spacing: normal;
				padding: 10px 0 20px;
				margin: 0 0 15px;
				max-width: 600px;
				line-height: 1.5;

			}
		}
	}

	#custom-dots {
		@media screen and (max-width:991px){
			display:none;
		}
		position: absolute;
		color: #FFF;
		text-align: left;
		bottom: 10vh;
		z-index: 50;
		font-size: 0.9rem;

		li {
			padding: 0.4rem 5rem 0 0;
			border-radius: 7px;
			list-style-type: none;
			cursor: pointer;
			color:rgba(#FFF,0.5);
			
			&.active {
				color: #FFF;
			}
		}

		@media screen and (min-width:768px) {
			bottom: 30vh;
			width: 100%;

			li {
				display: inline-block;
				width: 33%;
			}
		}
	}
}

.multifilter {
&.desktop{
	z-index: 2;
	border-top: 1px solid rgba(#FFF, 0.3);
	text-align: center;
	
	@media screen and (min-width: 1200px) {
		max-width: 1140px;
	}

	@media screen and (min-width:992px) {
		max-width: 960px;
	}

	@media screen and (min-width:768px) {
		max-width: 720px;
		margin-top: -22vh;
		position: absolute;
		width: 100%;
		text-align: left;

		li#all {
			float: right;
			font-size: 0.8rem;
		}
	}

	li {
		list-style-type: none;
		display: inline-block;
		margin: 2rem 30px 2rem 0;
		font-size: 1.2rem;
		padding: 0.5rem 2rem;
		&.active {
			background-color: #FFF;
			color: #000;
			border-radius: 25px;
		}

	}
	
	@media screen and(max-width:767px){
		display:none;
	}
}
	
}

.filter-mobile{
	
	@media screen and (min-width:768px){
		display:none;
	}
	
	position: absolute;
	top:80vh;
	z-index:6;
	ul{
		display: none;
		position: relative;
		top: -55px;
		padding: 55px 0 0 0;
		margin: 0;
		background-color:rgba(#000, 0.5);
		border-radius:8px;
	}
	ul:hover{
		display: block; 
		color: white;
	}
	li.active{
		display: block;
	color: #000;
	background-color:#FFF;
	}
	li{
		padding: 10px;
		list-style: none;
		color: white;
		
	}
	li:hover{ 
		cursor: pointer;
	}
	#button{
		display: inline-block;
		padding: 10px;
		color: white;
		z-index:7;
		&:after{
			content: url('data:image/svg+xml,<svg width="1.5rem" height="1.5rem" fill="#DDD" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.7 11.3l-6-6c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l6-6c0.4-0.4 0.4-1 0-1.4z"></path></svg>');
				display: inline-block;
				transition: all 0.2s;
				margin-left: 0.2rem;
				margin-top: -3px;
				vertical-align: top;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				float: right;
		}

	}
		display: inline-block;

	&:active ul{
		display: block;
	} 
	&:active ul:hover{
		display: block;
		color: #000;
		background-color:#FFF;
	}
	&:active #button{
		display: inline-block;
		padding: 10px;
		z-index: 7;
		color: white;
	}
}

.filter-container {

		margin-top: -3vh;
	@media screen and (max-width:786px){
		margin-top: -10vh;
	}
}

.filtr-item {
	z-index: 2;
	width: 100%;
	height: 580px;
	text-align: center;

	@media screen and (min-width: 786px) {
		width: 50%;

	}

	@media screen and (min-width:1025px) {
		width: 33%;
	}

	>a {
		text-align: center;

		&:hover {
			color: #FFF;

			>div {
				top: -10px;
				-webkit-box-shadow: 0px 15px 25px -4px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0px 15px 25px -4px rgba(0, 0, 0, 0.75);
				box-shadow: 0px 15px 25px -4px rgba(0, 0, 0, 0.75);
			}
		}

		>div {
			text-align: initial;
			width: 100%;
			height: 90%;
			overflow: hidden;
			padding: 2rem;
			display: inline-flex;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 8px;
			margin: 0 auto;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			position: relative;
			top: 0;
			transition: all ease 0.5s;

			@media screen and (min-width: 786px) {
				width: 90%;

			}
			strong{
				margin-bottom:1rem;
			}
			h3 {
				font-size: 1.5rem;
				text-transform: none;
				letter-spacing: normal;
				line-height: 1.3;
			}

			div {
				margin-top: 2rem;
			}

			.cates {
				float: left;
				font-size: 0.8rem;
				line-height: 2;
			}

			.date {
				font-size: 0.8rem;
				float: right;
				line-height: 2;
			}
		}
	}
}

.loadmore {
	color: #999;
	text-align: center;
	width: 100%;
	cursor: pointer;
	margin: 40px auto 80px;
	transition: margin 0.2s ease;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}

.loader {
	color: #999;
	font-size: 14px;
	margin: 80px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	text-indent: -1.8rem;
	white-space: nowrap;
}

.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}

.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader:after {
	left: 3.5em;
}

@-webkit-keyframes load7 {

	0%,
	80%,
	100% {
		box-shadow: 0 -2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 -2.5em 0 0;
	}
}

@keyframes load7 {

	0%,
	80%,
	100% {
		box-shadow: 0 -2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 -2.5em 0 0;
	}
}

/* Support */

@-webkit-keyframes transform {

	0%,
	100% {
		border-radius: 80% 70% 90% 50% / 80% 90% 80% 80%;
	}

	14% {
		border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
	}

	28% {
		border-radius: 56% 44% 50% 50% / 76% 33% 67% 24%
	}

	42% {
		border-radius: 31% 39% 55% 45% / 61% 38% 62% 39%;
	}

	56% {
		border-radius: 46% 54% 20% 50% / 35% 61% 39% 65%;
	}

	70% {
		border-radius: 20% 50% 34% 66% / 56% 68% 32% 44%;
	}

	84% {
		border-radius: 31% 39% 67% 33% / 70% 50% 50% 30%;
	}
}


@keyframes transform
{
    0%,
	100% {
		border-radius: 80% 70% 90% 50% / 80% 90% 80% 80%;
	}

	14% {
		border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
	}

	28% {
		border-radius: 56% 44% 50% 50% / 76% 33% 67% 24%
	}

	42% {
		border-radius: 31% 39% 55% 45% / 61% 38% 62% 39%;
	}

	56% {
		border-radius: 46% 54% 20% 50% / 35% 61% 39% 65%;
	}

	70% {
		border-radius: 20% 50% 34% 66% / 56% 68% 32% 44%;
	}

	84% {
		border-radius: 31% 39% 67% 33% / 70% 50% 50% 30%;
	}
}


@-webkit-keyframes movement {

	0%,
	100% {
		-webkit-transform: none;
		transform: none;
	}

	50% {
		-webkit-transform: translateY(20%) rotateY(10deg);
		transform: translateY(20%) rotateY(100deg);
	}
}


@keyframes movement {

	0%,
	100% {
		-webkit-transform: none;
		transform: none;
	}

	50% {
		-webkit-transform: translateY(20%) rotateY(10deg);
		transform: translateY(20%) rotateY(10deg);
	}
}


@-webkit-keyframes shade {

	0%,
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}


@keyframes shade {

	0%,
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}


/* About */
body.page-template-about {

	h1,
	h2 {
		letter-spacing: 0.5rem;
	}

	h2 {
		font-size: 1.5rem;

		small {
			color: #999;
		}
	}

	.palm {
		position: absolute;
		z-index: 1;
		opacity: 0.25;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}


	.palm-3 {
		left: 0;
		top: 200px;
		height: 1000px;
	}

	.palm-4 {
		left: 0;
		top: 200px;
		background-position: right;
		height: 1000px;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	.palm-6 {
		right: 0;
		top: 0;
		height: 1000px;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	#page-header-about {

		height: 100vh;
		padding-top: 30px;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		position: relative;

		h1,h4,.text{
			-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
			-moz-animation:fadeIn ease-in 1;
			animation:fadeIn ease-in 1;
		  
			-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
			-moz-animation-fill-mode:forwards;
			animation-fill-mode:forwards;
		  
			-webkit-animation-duration:1s;
			-moz-animation-duration:1s;
			animation-duration:1s;
		}

		h1 {
			font-size: 1.5rem;
			color: $green;
		}

		h4 {
			font-size: 1.3rem;
			line-height: 2.5;
			@media screen and (max-width:768px){
				font-size:1rem;
			}
		}

		.text {
			display: flex;
			align-content: center;
			justify-content: center;
			align-items: flex-end;
			line-height: 2.2;
			font-size: 0.9rem;
			@media screen and (max-width:992px){
				margin-top:5rem;
			}
			>div {
				z-index: 1;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: 0;
				width: 500px;
				height: 300px;
				bottom: -40px;
				left: -40px;
				min-height: 200px;
				min-width: 200px;
				transform: skew(120deg);
				background: rgba(#516C5B, 0.2);
				background-size: 1600% 1600%;
				-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
				-webkit-perspective: 1000px;
				perspective: 1000px;
				-webkit-animation:
					transform 45s ease-in-out infinite both alternate,
					movement 35s ease-in-out infinite both,
					shade 55s linear infinite both;
				animation:
					transform 45s ease-in-out infinite both alternate,
					movement 35s ease-in-out infinite both,
					shade 55s linear infinite both;
			}
		}
	}

	#who {
		position: relative;
		background-size: cover;
		padding: 150px 0;
		color: #FFF;

		h2 {
			padding-bottom: 60px;
		}

		.text-center {
			text-align: center;
		}

		.text {
			padding: 2rem;
			line-height: 2;
		}
	}

	#how,
	#why {
		padding: 120px 0;
		position: relative;

		h2 {
			padding: 30px 0;
		}

		.text {
			line-height: 2;
		}

		.container {
			max-width: 1250px;
		}
		@media screen and (min-width: 992px) {
			img {
				padding-top:32px;
				padding-right: 2rem;
			}
		}
		@media screen and (min-width:768px){
			.container{
				width:65%;
			}
		}
		@media screen and (max-width:991px){
			img{
				padding:32px 0;
				
			}
			padding:0;
		}
	}

	#how {
		@media screen and (max-width:991px){
			padding:120px 0 80px;
		}
	}

	#why {
		@media screen and (min-width: 992px) {
			img {
				padding-top:32px;
				padding-left: 2rem;
			}
		}
		@media screen and (max-width:991px){
			padding:20px 0 80px;
		}
	}
}

/*single*/
body.page-template-default{
	article {

		h1,
		h2,
		h3 {
			font-family: Gotham;
			text-transform: none;
			letter-spacing: normal;
			line-height: normal;
			margin-bottom:1rem;
		}

		line-height:2.4;
		margin-bottom:3rem;

		ul {
			margin: 1rem 0;

			li {
				margin-left: 3rem;
			}
		}

		p {
			margin: 1rem 0;
		}
	}
}
body.single-post {
	#post-header {
		padding-top: 15rem;
		padding-bottom: 5rem;
		.back{
			color:#FFF;
			opacity:.65;
			position: relative;
			padding-left:3rem;
			transition: all 250ms ease;
			&:after {
				content: url('./assets/img/arrow.svg');
				position: absolute;
				left: 0;
				opacity: 0.65;
				top: -0.5rem;
				transform: translateY(-50%);
				transition: all 250ms ease;
				will-change: right, opacity;
				-webkit-filter: brightness(3);
				filter: brightness(3);
				transform: rotate(180deg);
			}
			&:hover{
				opacity:1;
				&:after{
					opacity:1;
				}
			}
		}
		h1 {
			font-family: Gotham;
			font-size: 2rem;
			text-transform: none;
			letter-spacing: normal;
			padding: 10px 0 20px;
			margin: 40px 0 15px;
			max-width: 600px;
			line-height: 1.5;
		}

		hr {
			width: 400px;
			border-top: 1px solid #444;
		}

		.category-time {
			margin-top: 2rem;

			.date {
				margin-left: 2rem;
			}
		}
	}

	article {

		h1,
		h2,
		h3 {
			font-family: Gotham;
			text-transform: none;
			letter-spacing: normal;
		}

		line-height:2.4;
		margin-bottom:3rem;

		ul {
			margin: 1rem 0;

			li {
				margin-left: 3rem;
			}
		}

		p {
			margin: 1rem 0;
		}
	}

}



body.page-template-support {
	#support-page-header {
		height: 90vh;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;
		@media screen and(max-width:767px){
			height:55vh;
			align-items:flex-end;
		}
		h1 {
			font-size: 2rem;
			-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
			-moz-animation:fadeIn ease-in 1;
			animation:fadeIn ease-in 1;
		  
			-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
			-moz-animation-fill-mode:forwards;
			animation-fill-mode:forwards;
		  
			-webkit-animation-duration:1s;
			-moz-animation-duration:1s;
			animation-duration:1s;
			small {
				font-size: 0.8rem;
				color: #999;
			}
			@media screen and(max-width:767px){
				span{
					line-height:1.5;
					padding-bottom:2rem;
				}
				padding:3rem;
				line-height:0.8;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			width: 450px;
			height: 300px;
			top: 30vh;
			min-height: 200px;
			min-width: 200px;
			transform: skew(120deg);
			background: rgba(#516C5B, 0.2);
			background-size: 1600% 1600%;
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-perspective: 1000px;
			perspective: 1000px;
			-webkit-animation:
					transform 45s ease-in-out infinite both alternate,
					movement 35s ease-in-out infinite both,
					shade 55s linear infinite both;
				animation:
					transform 45s ease-in-out infinite both alternate,
					movement 35s ease-in-out infinite both,
					shade 55s linear infinite both;
				@media screen and(max-width:767px){
					width: 350px;
			height: 250px;
					top: 22vh;
				}
		}

	}

	#section-1 {
		line-height: 2;
		color: #EEE;
		@media screen and(max-width:768px){
			.row>.col-12:last-of-type{
				margin-top:1rem;
			}
		}
		
	}

	#section-2 {
		position: relative;
		padding: 12rem 0;
		@media screen and (max-width:768px){
			padding: 12rem 0 5rem;
		}
		>.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@media screen and (min-width: 992px) {
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}
		}

		a {
			&:hover {
				h2 {
					color: #FFF;
				}

			}
		}

		.box {

			width: 90%;
			height:500px;
			margin:0 auto;
			display:flex;
			flex-direction:column;
			justify-content: center;
			text-align: center;
			margin-bottom: 2rem;
			transition: all 0.2s;
			.image{
				height:90px;
				width:90px;
				margin:0 auto;
				display:flex;
				align-items:center;
				margin-bottom:3rem;
				img{
					width:100%;
					height:auto;
				}
			}
			@media screen and (min-width: 992px) {
				width: 450px;
				margin: 2rem;
			}
			@media screen and(max-width:991px){
				width:350px;
				height:500px;
				margin: 2rem;
			}

			h2 {
				font-size: 1.6rem;
				letter-spacing: 0.4rem;

			}

			small {
				margin-top: 4rem;
				font-size: 0.7rem;
				color: #999;
				font-size: 0.7rem;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
			}

			padding:2rem;
			border:1px solid #666;
			border-radius:8px;

			.email {
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
				font-size: 0.7rem;
				color: #AAA;
				margin-top:1rem;
				&:hover {
					color: #AAA;
					
				}
			}

			&:hover {
				background-color: rgba(#FFF, 0.1);
				-ms-transform: translate(0, -10px); /* IE 9 */
				-webkit-transform: translate(0, -10px); /* Safari */
				transform: translate(0, -10px);
			}
		}
	}

	#faqs {
		padding: 0 0 10rem;

		h2 {
			text-align: center;
			line-height: 1.2;

			small {
				color: #999;
			}

			padding:5rem 0;
			@media screen and (max-width:767px){
				span{
					line-height:1.5;
					font-size:2rem;
				}
				small{
					font-size:0.8rem;
				}
				line-height:0.5;
			}
		}

		@media screen and (min-width:1200px) {
			.container.accordion {
				max-width: 980px;
			}
		}

		#accordion {
			width: 100%;
		}

		.accordion-toggle {
			cursor: pointer;
			margin-bottom: 2rem;

			border: 1px solid #666;
			padding: 1rem;
			border-radius: 8px;
			color: #BBB;

			&:after {
				content: url('data:image/svg+xml,<svg width="1.5rem" height="1.5rem" fill="#DDD" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.7 11.3l-6-6c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l6-6c0.4-0.4 0.4-1 0-1.4z"></path></svg>');
				display: inline-block;
				transition: all 0.2s;
				margin-right: 0.2rem;
				vertical-align: top;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				float: right;
				@media screen and (max-width:767px){
					content:none;
				}
			}

			&.opened {
				&:after {
					-webkit-transform: rotate(270deg);
					-moz-transform: rotate(270deg);
					-o-transform: rotate(270deg);
					-ms-transform: rotate(270deg);
					transform: rotate(270deg);
				}

			}

			div {
				display: inline-block;
				width: 90%;
				letter-spacing:0.2rem;
				font-size:0.8rem;
				@media screen and (max-width:767px){
					width: 100%;
					
				}
			}
		}

		.accordion-content {
			display: none;
			padding-left: 5%;
			margin-bottom: 3rem;

			@media screen and (min-width: 768px) {
				padding-left: 4%;
			}
		}
	}

	.palm {
		position: absolute;
		z-index: 0;
		opacity: 0.35;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}


	.palm-3 {
		left: 0;
		top: -200px;
		height: 1000px;
	}

	.palm-4 {
		right: 0;
		top: 200px;
		background-position: right;
		height: 1000px;
	}


}
